<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<h1 style="color:blue;font-family:courier;font-size:300%;text-align:center;">Hey Dr.Sudeepthi Doniparti</h1>
<p style="color:red;font-family:verdana;font-size:160%;">Congratulations on completing your degree,keep up your good work and stay healthy
 ,love you baibee<br>Yours jaan</br></p>
<%= link_to 'Home', root_path %>
</body>
</html>