<h1 style="color:blue;">Hey Dr.Sudeepthi Doniparti</h1>
<p style="color:red;">congratulations on completing your degree,keep up your good work and stay healthy
 Yours jaan</p>
<%= link_to 'Home', root_path %>
<!DOCTYPE html>
<html>
<body>

<img src="C:\Users\maris\OneDrive\Pictures\sudai\IMG_7581.JPG" alt="HTML5 Icon" style="width:200px;height:250px;">
<p>please click on me genlty</p>

<button onclick="getLocation()">Tap me once again</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>