<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
<h1 style="color:blue;font-family:courier;font-size:300%;text-align:center;">Concentrate....concentrate</h1>
<%= link_to 'Home', root_path %>
</body>
</html>