<html>
<body style="background-color:powderblue;">
<h1 style="color:#133926;text-align:center;">Welcome to my world of ruby</h1>



<%= link_to 'blog', articles_path %> |<%= link_to 'Tap Me', about_path %>

